---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Disclosure">
  <section class="smb-6">
    <div class="container smt-4">
      <div class="flex-v">
        <div class="tac width-100">
          <h2 class="smb-1">Disclosure</h2>
        </div>
        <p>
          We didn’t want to create more pages and costs and boredom, but the lawyers say we need this page…
        </p>
        <p>
          The content provided on this website is for informational purposes only.  Although we believe this information to be correct and we attempt to keep content on this website current, we do not warrant the accuracy or completeness of any information on this site.
        </p>
        <h4>
          Jurisdiction
        </h4>
        <p>
          Products and services are available in Canada and only in those other jurisdictions where they may be legally offered by Mirador Corporation.  This communication does not constitute an offer or solicitation to anyone in any jurisdiction in which such an offer or solicitation is not authorized or to any person to whom it is unlawful to make such a solicitation.
        </p>
        <h4>
          Liability of Advice
        </h4>
        <p>
          The information provided on this website is not intended to provide specific financial, tax, legal or accounting advice and should not be relied upon in that regard.
        </p>
        <h4>
          Performance Data
        </h4>
        <p>
          Any performance data represents past performance and is not necessarily indicative of future performance.  Unit/share values, yields and investment returns will fluctuate.
        </p>
        <h4>
          Mirador Corporation Privacy Policies and Principles
        </h4>
        <p>
          Protecting our clients’ privacy is a priority for Mirador Corporation (Mirador).  These Privacy Principles are adhered to by Mirador to ensure that the information you submit to us will be treated with the utmost confidentiality and in accordance with the Personal Information Protection and Electronic Documents Acts of Canada (PIPEDA).
        </p>
        <h4>
          Accountability
        </h4>
        <p>
          We are responsible for all personal information under our control and have designated a Privacy Officer who is accountable for our compliance with these following principles.
        </p>
        <h4>
          Identifying Purposes
        </h4>
        <p>
          We will identify and document the purposes for which we collect, use or disclose personal information at or before the time the information is collected.  Only such information as is necessary for Mirador’s business will be collected.
        </p>
        <h4>
          Consent
        </h4>
        <p>
          The knowledge and consent of our clients are required for the collection, use or disclosure of personal information.
        </p>
        <h4>
          Limiting Collection
        </h4>
        <p>
          Only such information as is necessary for Mirador’s services and regulatory requirements will be collected from you.  When personal information is needed, it will be obtained directly from you.  If it is necessary to supplement this information, only reputable and reliable sources will be used, and only if you have granted permission for us to use them.
        </p>
        <h4>
          Limiting Use, Disclosure and Retention
        </h4>
        <p>
          Personal information will not be used or disclosed for purposes other than those for which it was collected, except with the consent of the individual or as required by the law.  There will not be any sharing of personal information or mailing lists with any third parties for marketing or other such uses.  Personal information will be retained only as long as necessary for fulfilment of our portfolio management and regulatory obligations.
        </p>
        <h4>
          Accuracy
        </h4>
        <p>
          Personal information will be as accurate, complete and up-to-date as necessary for the purposes for which it is to be used.
        </p>
        <h4>
          Safeguards
        </h4>
        <p>
          We will protect personal information with security of safeguards appropriate to the sensitivity of your personal information.  This includes but is not limited to the physical security of our office with alarms and locks, locking file cabinets, and a secure fire safe as well as electronic safety with security computer networks, computer password protection and data encryption.
        </p>
        <h4>
          Openness
        </h4>
        <p>
          Mirador will make available to clients specific information concerning the policies and procedures relating to the management of your personal information and the safeguards mentioned above.
        </p>
        <h4>
          Individual Access
        </h4>
        <p>
          Upon your request, you will be informed of the existence, usage and disclosure of your personal information and shall be given access to that information.  You may verify the accuracy and completeness of the information and may request that it be amended, if appropriate.
        </p>
        <h4>
          Handling Client Complaints and Suggestions
        </h4>
        <p>
          Any individual can address any question, concern or complaint about any of these principles with our Privacy Officer, Stan Clarke, using email <a href="mailto:stan@miradorwealth.com">stan@miradorwealth.com</a> or telephone <a href="tel:+14037180125">403-718-0125</a>.
        </p>
      </div>

    </div>
  </section>

</Layout>
