---
export const prerender = true;
import Layout from '../layouts/Layout.astro';

import { sanityClient } from "../lib/sanity.js";
import PostList from '../components/PostList.jsx';

import bgImage from '../assets/feed/feed-bg.jpg';

const query = `*[_type == "socialPost"] | order(publishedAt desc) {
  ...,
  text[]{
    ...,
    _type == "image" => {
      "url": asset->url,
      alt
    }
  },
}`;

const posts = await sanityClient.fetch(query, {}, { cache: "no-cache" });

---

<Layout title="Real Advice Blog">

  
  <section class="v-padding our-team-main blog-card-wrapper">
    <div class="container">
      <div class="relative feed-hero">
        <img src={bgImage.src} class="feed-bg" alt="Mirador Feed BG" />
        <div class="flex-v no-padding center tac">
          <h4>The Mirador Feed</h4>
          <div class="mw-800">
            <h1 class="ct-teal">You can Observe a lot by Just Watching</h1>
            <p class="ct-teal tar"><strong>— Yogi Berra</strong></p>
          </div>
          <div class="mw-700">
            <p>Stay up to date with what we are Observing and other quick takes and insights
              regarding the economy, commerce, the markets, companies and... <br/><strong>Portfolio Management for High Income and Comfortable Stability</strong></p>
          </div>
        </div>
      </div>
      <div class="feed-grid">
        <div class="sidebar">
          <p>Expert Watching of the Facts (the data)..</p>
          <p>..Leads to Wise Observations..</p>
          <p>..Leads to Timely Action..</p>
          <p>..Results in Top-Tier Portfolio Panagement</p>
        </div>
        <div class="feed-wrapper">
          {posts.length > 0 
            ? <PostList client:load posts={posts} />
            : <div class="tac"><h5>No posts found...</h5></div>
          }
        </div>
      </div>
    </div>
  </section>

  <section class="v-padding cb-grad">
    <div class="container">
      <div class="tac flex-v center mw-700">
        <h2 class="smb-0">Get In Touch</h2>
        <p>Click below to get started with your investment journey. You’ll receive a free call back and initial consult with our team.</p>
        <a href="/contact"><button class="button-secondary">BOOK A CALL</button></a>
      </div>
    </div>
  </section>
</Layout>
