---
export const prerender = true;
import Layout from '../layouts/Layout.astro';

import { sanityClient } from "../lib/sanity.js";
import PlainTextRenderer from "../components/PlainTextRenderer.jsx";
import fallbackImage from "../assets/fallback.jpg";
import BlogList from '../components/BlogList.jsx';

const query = `*[_type == "blog" && category->title == "Real Advice Blog"] | order(publishedAt desc) {
  title,
  slug,
  excerpt[]{
    ...
  },
  "imageUrl": featuredImage.asset->url + "?w=600&h=400&fit=fill&auto=format",
  category->{title},
  body[]{
    ...,
    _type == "image" => {
      "url": asset->url,
      alt
    }
  },
  publishedAt,
  "createdAt": _createdAt
}`;

const posts = await sanityClient.fetch(query, {}, { cache: "no-cache" });

---

<Layout title="Real Advice Blog">
  <section class="v-padding our-team-main blog-card-wrapper">
    <div class="container">
      <div class="grid-2 forty-sixty lg center smb-6">
        <div class="flex-v no-padding">
          <h4>The Mirador</h4>
          <h1>Real Advice Blog</h1>
        </div>
        <div>
          <p class="smb-0">The Mirador Real Advice Blog is a bi-monthly publication with two purposes:</p>
          <ul class="sm">
            <li>Financial rules and guidelines are everywhere, but we help you find reliable sources and share proven advice.</li>
            <li>The markets create both concern and opportunity. We post regularly to address both.</li>
          </ul>
        </div>
      </div>

      {posts.length > 0 
        ? <BlogList client:load posts={posts} />
        : <div class="tac"><h5>No posts found...</h5></div>
      }
    </div>
  </section>

  <section class="v-padding cb-grad">
    <div class="container">
      <div class="tac flex-v center mw-700">
        <h2 class="smb-0">Get In Touch</h2>
        <p>Click below to get started with your investment journey. You’ll receive a free call back and initial consult with our team.</p>
        <a href="/contact"><button class="button-secondary">BOOK A CALL</button></a>
      </div>
    </div>
  </section>
</Layout>
