---
import logoImage from "../assets/footer-logo.png";
import checkFirstImage from "../assets/checkfirst.webp";
import loginImage from "../assets/login-image.png";
---


<footer id="signup" class="v-padding sm">
  <div class="container">
    <img class="footer-logo" src={logoImage.src} alt="Mirador footer logo" />
    <div class="grid">
      <div class="flex-v footer-links">
        <h6>Solutions</h6>
        <a href="/investment-management">
          Investment Management
        </a>
        <a href="/financial-planning">
          Financial Planning
        </a>
        <a href="/retirement-planning">
          Retirement Planning
        </a>
        <a href="/tax-planning">
          Tax Planning
        </a>
        <a href="/estate-planning">
          Estate Planning
        </a>
        <a href="/cash-flow-planning">
          Cash Flow Planning
        </a>
        <a class="smb-4" href="/personal-risk-management">
          Personal Risk Management
        </a>
        
      </div>
      <div class="flex-v footer-links">
        <h6>EDUCATION</h6>
        <a href="/portfolio-updates">
          Quarterly Reports
        </a>
        <a href="/real-advice-blog">
          Real Advice Blog
        </a>
        <a href="/magazine">
          Magazine
        </a>
      </div>
      <div class="flex-v footer-links">
        <h6>SUPPORT</h6>
        <a href="/contact">
          Book a call
        </a>
        <a href="/disclosure">
          Disclosure
        </a>
        <a href="tel:+14037180125">
          (403) 718-0125
        </a>
      </div>
      <div class="footer-form-wrapper">
        <div>
          <h4>Sign Up for Market, Investment and Wealth Planning info you can trust:</h4>
          <ul>
            <li>
              Independent and Unbiased
            </li>
            <li>
              Relevant and Recent
            </li>
            <li>
              In a language you can relate to
            </li>
            <li>
              Applicable to your investment decisions now
            </li>
          </ul>
          <p>
            Get access to high quality, useful, and actionable updates, publications, and correspondence for ideas you can use now to make investing better.
            No spam, sales, or email sharing.
          </p>
          
          <!-- <div class="ml-embedded" data-form="qkHVnV"></div> -->
          <div class="ml-embedded" data-form="fXbBMK"></div>
        </div>

        
      </div>
    </div>
    <div class="footer-logos-links">
      <div>
        <h6>Client Login</h6>
        <a href="https://online.rbcits.com/proxy/login-ui/#/login-basic" target="_blank">
          <img src={loginImage.src} alt="" />
        </a>
      </div>
      <div>
        <h6>Your Regulatory Safeguard</h6>
        <a class="checkfirst-link" href="https://www.checkfirst.ca" target="_blank">
          <img src={checkFirstImage.src} alt="" />
        </a>
      </div>
    </div>
    <div class="copy">
      <p class="ct-muted">© 2025 Mirador Corp. All rights reserved. Site by <a href="https://www.spacercreative.com" target="_blank" class="ct-muted">Spacer Creative</a></p>
    </div>
  </div>
</footer>
