---
import logoImage from "../assets/footer-logo.png";
import loginImage from "../assets/login-image.png";
---


<footer id="signup" class="v-padding sm">
  <div class="container">
    <img class="footer-logo" src={logoImage.src} alt="Mirador footer logo" />
    <div class="grid">
      <div class="flex-v footer-links">
        <h6>Solutions</h6>
        <a href="/investment-management">
          Investment Management
        </a>
        <a href="/financial-planning">
          Financial Planning
        </a>
        <a href="/retirement-planning">
          Retirement Planning
        </a>
        <a href="/tax-planning">
          Tax Planning
        </a>
        <a href="/estate-planning">
          Estate Planning
        </a>
        <a href="/cash-flow-planning">
          Cash Flow Planning
        </a>
        <a class="smb-4" href="/personal-risk-management">
          Personal Risk Management
        </a>
        <div class="smt-4">
          <h6>Client Login</h6>
          <a href="https://online.rbcits.com/proxy/login-ui/#/login-basic" target="_blank">
            <img src={loginImage.src} alt="" />
          </a>
        </div>
      </div>
      <div class="flex-v footer-links">
        <h6>EDUCATION</h6>
        <a href="/position-papers">
          Position Papers
        </a>
        <a href="/real-advice-blog">
          Real Advice Blog
        </a>
      </div>
      <div class="flex-v footer-links">
        <h6>SUPPORT</h6>
        <a href="/contact">
          Book a call
        </a>
        <a href="/disclosure">
          Disclosure
        </a>
        <a href="tel:+14037180125">
          (403) 718-0125
        </a>
      </div>
      <div>
        <h6>FOR UPDATES & INSIGHTS JOIN OUR NEWSLETTER</h6>
        <!-- MailerLite Universal -->
        <script>
          (function(w,d,e,u,f,l,n){w[f]=w[f]||function(){(w[f].q=w[f].q||[])
          .push(arguments);},l=d.createElement(e),l.async=1,l.src=u,
          n=d.getElementsByTagName(e)[0],n.parentNode.insertBefore(l,n);})
          (window,document,'script','https://assets.mailerlite.com/js/universal.js','ml');
          ml('account', '718303');
        </script>
        <!-- End MailerLite Universal -->
        <div class="ml-embedded" data-form="qkHVnV"></div>

      </div>
    </div>
    <div class="copy">
      <p class="ct-muted">© 2025 Mirador Corp. All rights reserved.</p>
    </div>
  </div>
</footer>
